body{
  background-color: black;
}

.App {
  text-align: center;
  background-color:black;
  border-color: olive;
  border-width: 30px;
  max-width: 1125px;
  height:auto;
  margin: auto;
  padding: 2%;
  border-style:solid;
  overflow: hidden;
}

.appHeader{
  padding-left: 0;
  display:inline-block;
  overflow: hidden;
}
.buttonHolder{
  background-color: olive;
  width: 130px;
  height: 520px;
  float: left;
  border-color: darkred;
  border-width: 10px;
  border-style:outset;
}

.btn{
  margin: 15%;
  height: auto;
  width: auto;
}

#bookCards{
  display: inline-block;
  justify-content: center;
  margin: auto;
  width:97%;
  border: 10px;
  border-color: darkred;
  border-style:outset;
  background-image: url("https://i.pinimg.com/736x/2a/70/20/2a702019f54374764b71833f122e951f--antique-books-vintage-books.jpg");
}

#dataCard{
  width: auto;
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)
  ), 
  url("https://mcdn.wallpapersafari.com/medium/61/32/CqYQxN.jpg");
  background-size: 580px, cover;
}

#updateCardImg{
  width: 250px
}

#bannerImg{
  max-height: 100%;
  width: auto;
}

.card-img-top{
  width: 100px;
  height: 150px;
  border: 2px;
  border-color: white;
  border-style:outset;
}

.card{
  width: 150px;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  border-color: darkred;
  border-width: 10px;
  border-style: ridge;
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ), 
    url("https://media.gettyimages.com/id/157181664/photo/ornate-old-book-cover.jpg?s=2048x2048&w=gi&k=20&c=aeHXjOLglM0xMDk9OZjXtX0UqiZWzjo2bNw7vGHch1k=");
  background-size: 280px, cover;
  margin: 2%;
}

.book {
  display: flex;
}

.bookText {
  color: white;
  font-weight: bold;
  white-space: nowrap;
  max-width : 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#isbnLink {
  color: olive;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  
}


.btn-three {
  color: white;
  font-weight: bold;
  transition: all 0.5s;
  position: relative;
}

.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}

.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

#home{
  max-width: 35px;
  max-height: 35px;
  margin: 15%;
}

#home:hover {
  transform: scale(1.5);
}